.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 2px solid #D6D6D6;
}

.nav-logo img {
    width: 150px;
    height: auto;
    max-height: 45px;
    padding: 0px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
}

.nav-links a {
    color: #000000;        
    text-decoration: none;
    padding: 10px 12px;
    font-size: 16px;    
}   

.nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: #D6D6D6;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
