.producksListPage-container {
    display: flex;
    height: 100vh;
    background-color: #f6f6f6;
}

.producksList-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.producksList-card {
    background-color: #fff;
    padding: 70px 40px;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 500px; 
    height: 400px;
    display: flex;               
    flex-direction: column;       
    align-items: center; 
}

.producksList-title {
    font-size: 16px;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 6px;
    margin-bottom: 25px;
}

.producksList-table {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14px;
}

.producksList-table th,
.producksList-table td {
  padding: 14px 12px;
  border-bottom: 1px solid #eee;
}

/* 컬럼별 정렬 지정 */
.producksList-table th:nth-child(1),
.producksList-table td:nth-child(1) {
  text-align: center; /* 상품 ID */
}

.producksList-table th:nth-child(2),
.producksList-table td:nth-child(2) {
  text-align: center;   /* 상품명: 왼쪽 정렬 */
  padding-right: 50px;
  word-break: break-word;
}

.producksList-table th:nth-child(3),
.producksList-table td:nth-child(3) {
  text-align: center; /* 삭제 아이콘 */
}

.producksList-table th {
  font-weight: bold;
  color: #444;
  background-color: #fafafa;
}

.ban-icon {
  font-size: 16px;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ban-icon:hover {
  transform: scale(1.3);
}
