.voter.page {
    display: flex;
    height: 100vh;
    background-color: #f6f6f6;
}
.voter-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voter-card {
    background-color: #fff;
    padding: 70px 40px;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 500px; 
    height: 400px;
    display: flex;               
    flex-direction: column;       
    align-items: center; 
}

.voter-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 70px;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 10px;
    text-decoration-color: #D6D6D6;

}

.voter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    width: 500px;
}

.voter-label {
    width: 59%;
    margin-bottom: 4px;
    font-size: 14px;
    text-align: left;
}

.voter-input {
    width: 60% !important;
    max-width: 380px; 
    padding: 8px 12px;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    font-size: 12px;
    
}

.voter-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #888888;
}

.voter-button {
    width: 50%;
    background-color: #FFFFFF;
    font-size: 16px;
    border-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #D6D6D6;
    margin: 45px auto 0 auto;
    display: block;
}

.voter-button:hover {
    background-color: #F6F6F6;
}